*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 992px) {
    html {
      font-size: 58%; } }
  @media (max-width: 768px) {
    html {
      font-size: 52%; } }
  @media (max-width: 596px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #f0f2f5;
  height: 100%;
  overflow: hidden; }

.search-wrapper {
  padding-left: 1rem; }

.search-input {
  background-color: #f0f2f5;
  border-radius: 10rem;
  border: none;
  appearance: none;
  outline: none;
  transition: border 0.3s;
  width: 250px;
  padding: 1.25rem; }

.search__submit--hidden {
  visibility: hidden;
  height: 0;
  width: 0; }

.items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .items-container__item {
    position: relative; }
    .items-container__item .item-box {
      padding: 1rem 4rem;
      margin: 0.5rem 1rem;
      border-radius: 1rem;
      cursor: pointer; }
      .items-container__item .item-box svg {
        fill: #65676b; }
    .items-container__item::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 0%;
      height: 5px;
      background: red;
      transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1); }
    .items-container__item.active svg {
      fill: #1877f2; }
    .items-container__item.active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      height: 3px;
      background: #1877f2;
      transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1); }
    .items-container__item:hover .item-box {
      background-color: #f0f2f5; }
  .items-container__tooltips {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1; }

.header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 1; }
  .header__left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 2rem; }
  .header__center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .header__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem; }
    .header__right div {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
    .header__right .avatar-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      cursor: pointer; }
      .header__right .avatar-wrapper__avatar {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        margin-left: .25rem; }
      .header__right .avatar-wrapper__name {
        font-weight: 600;
        font-size: 14px;
        padding: 1rem; }
      .header__right .avatar-wrapper:hover {
        background-color: #f0f2f5; }
    .header__right .etc-wrapper {
      padding: 1rem;
      background-color: #f0f2f5;
      border-radius: 20px;
      cursor: pointer;
      transition: all .25s; }
      .header__right .etc-wrapper svg {
        width: 20px;
        height: 20px; }
      .header__right .etc-wrapper:hover {
        background-color: #cecfd1; }

.content {
  height: 100vh;
  display: grid;
  grid-template-columns: 25% 52% 23%; }
  .content__left {
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 100px; }
    .content__left .item-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-bottom: 1px solid #bbb;
      margin: 1.25rem 0 0 1rem; }
      .content__left .item-container__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 5px 0px 0px 5px;
        width: 99%;
        transition: all 0.4s; }
        .content__left .item-container__item-wrapper__avatar {
          width: 30px;
          height: 30px;
          border-radius: 20px;
          margin-left: .25rem; }
        .content__left .item-container__item-wrapper__name {
          font-weight: 600;
          font-size: 14px;
          padding: 0.5rem 1rem; }
        .content__left .item-container__item-wrapper__notification {
          padding: .25rem;
          display: table-cell;
          color: #1876f2;
          font-size: 12px;
          font-weight: 400; }
        .content__left .item-container__item-wrapper:hover {
          background-color: #cecfd1; }
    .content__left .shortcut-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 1.25rem 0 0 1rem; }
      .content__left .shortcut-container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%; }
        .content__left .shortcut-container__header--text-wrapper {
          font-size: 17px;
          font-weight: 600;
          color: #65676b; }
        .content__left .shortcut-container__header--edit-wrapper {
          font-size: 15px;
          font-weight: 400;
          color: #1876f2;
          cursor: pointer;
          border-radius: 5px;
          padding: 1rem;
          opacity: 0; }
          .content__left .shortcut-container__header--edit-wrapper:hover {
            opacity: 1;
            background-color: #cecfd1; }
      .content__left .shortcut-container__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 5px 0px 0px 5px;
        width: 99%;
        transition: all 0.4s; }
        .content__left .shortcut-container__item-wrapper__avatar {
          width: 30px;
          height: 30px;
          border-radius: 20px;
          margin-left: .25rem; }
        .content__left .shortcut-container__item-wrapper__name {
          font-weight: 600;
          font-size: 14px;
          padding: 0.5rem 1rem; }
        .content__left .shortcut-container__item-wrapper:hover {
          background-color: #cecfd1; }
  .content__right {
    padding-right: 1.5rem;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 100px; }
    .content__right .friends-req-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-bottom: 1px solid #bbb;
      margin: 1.25rem 0 0 1rem; }
      .content__right .friends-req-container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%; }
        .content__right .friends-req-container__header--text-wrapper {
          font-size: 17px;
          font-weight: 600;
          color: #65676b; }
        .content__right .friends-req-container__header--edit-wrapper {
          font-size: 15px;
          font-weight: 400;
          color: #1876f2;
          cursor: pointer;
          border-radius: 5px;
          padding: 1rem;
          opacity: 1; }
          .content__right .friends-req-container__header--edit-wrapper:hover {
            opacity: 1;
            background-color: #cecfd1; }
      .content__right .friends-req-container__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 5px 5px 5px 5px;
        width: 99%;
        transition: all 0.4s; }
        .content__right .friends-req-container__item-wrapper__avatar {
          width: 40px;
          height: 40px;
          border-radius: 40px;
          margin-left: .25rem; }
        .content__right .friends-req-container__item-wrapper__info-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          width: 100%; }
          .content__right .friends-req-container__item-wrapper__info-wrapper__top-section {
            width: inherit;
            display: grid;
            grid-template-columns: 80% 20%; }
            .content__right .friends-req-container__item-wrapper__info-wrapper__top-section__name {
              text-align: left;
              font-weight: 600;
              font-size: 14px;
              padding: 0rem 1rem; }
            .content__right .friends-req-container__item-wrapper__info-wrapper__top-section__week {
              text-align: right;
              font-weight: 600;
              font-size: 14px;
              color: #65676b;
              padding: 0rem 1rem; }
          .content__right .friends-req-container__item-wrapper__info-wrapper__btm-section {
            width: inherit;
            display: grid;
            grid-template-columns: 1fr 1fr; }
            .content__right .friends-req-container__item-wrapper__info-wrapper__btm-section__cfm {
              background-color: #1877f2;
              color: #FFFFFF;
              margin: 1rem;
              padding: 1rem 2rem;
              outline: none;
              border: none;
              border-radius: 5px; }
            .content__right .friends-req-container__item-wrapper__info-wrapper__btm-section__delete {
              background-color: #cecfd1;
              color: black;
              margin: 1rem;
              padding: 1rem 2rem;
              outline: none;
              border: none;
              border-radius: 5px; }
        .content__right .friends-req-container__item-wrapper:hover {
          background-color: #cecfd1; }
    .content__right .friends-birth-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-bottom: 1px solid #bbb;
      margin: 1.25rem 0 0 1rem; }
      .content__right .friends-birth-container__header__text-wrapper {
        font-size: 17px;
        font-weight: 600;
        color: #65676b; }
      .content__right .friends-birth-container__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        padding: 2rem 0rem; }
        .content__right .friends-birth-container__item-wrapper__icon {
          background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/CkM-umrun3d.png);
          background-size: 37px 243px;
          background-repeat: no-repeat;
          display: inline-block;
          height: 36px;
          width: 36px; }
        .content__right .friends-birth-container__item-wrapper__text {
          padding-left: 2rem;
          text-align: left; }
          .content__right .friends-birth-container__item-wrapper__text span {
            font-size: 15px; }
    .content__right .friends-chat-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 1.25rem 0 0 1rem; }
      .content__right .friends-chat-container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%; }
        .content__right .friends-chat-container__header--text-wrapper {
          font-size: 17px;
          font-weight: 600;
          color: #65676b; }
        .content__right .friends-chat-container__header--etc-option-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center; }
          .content__right .friends-chat-container__header--etc-option-wrapper .icon-wrapper {
            padding: 1rem;
            border-radius: 40px;
            margin-left: 0.5rem;
            transition: all 0.4s; }
            .content__right .friends-chat-container__header--etc-option-wrapper .icon-wrapper:hover {
              background-color: #cecfd1; }
            .content__right .friends-chat-container__header--etc-option-wrapper .icon-wrapper .share-icon.video {
              background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/FmlBQnWPiFF.png);
              background-size: 25px 303px;
              background-repeat: no-repeat;
              display: inline-block;
              width: 16px;
              height: 16px;
              background-position: 0 -209px; }
            .content__right .friends-chat-container__header--etc-option-wrapper .icon-wrapper .share-icon.search {
              background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/C8h7srd1X18.png);
              background-size: 25px 896px;
              background-repeat: no-repeat;
              display: inline-block;
              width: 16px;
              height: 16px;
              background-position: 0 -702px; }
            .content__right .friends-chat-container__header--etc-option-wrapper .icon-wrapper .share-icon.more {
              background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/C8h7srd1X18.png);
              background-size: 25px 896px;
              background-repeat: no-repeat;
              display: inline-block;
              width: 16px;
              height: 16px;
              background-position: 0 -685px; }
      .content__right .friends-chat-container__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        border-radius: 5px;
        width: 100%;
        transition: all .4s ease-in-out; }
        .content__right .friends-chat-container__item-wrapper:hover {
          background-color: #cecfd1; }
        .content__right .friends-chat-container__item-wrapper__avatar-wrapper {
          position: relative;
          margin: 1rem; }
          .content__right .friends-chat-container__item-wrapper__avatar-wrapper__avatar {
            border-radius: 40px;
            height: 25px;
            width: 25px;
            position: relative; }
          .content__right .friends-chat-container__item-wrapper__avatar-wrapper__active-icon {
            position: absolute;
            background-color: green;
            border-radius: 40px;
            border: solid 1px #FFFFFF;
            height: 8px;
            width: 8px;
            bottom: 0;
            right: 0; }
        .content__right .friends-chat-container__item-wrapper__name {
          font-size: 15px;
          font-weight: 500; }
