*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 992px) {
    html {
      font-size: 58%; } }
  @media (max-width: 768px) {
    html {
      font-size: 52%; } }
  @media (max-width: 596px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #f0f2f5; }

.search-wrapper {
  padding-left: 1rem; }

.search-input {
  background-color: #f0f2f5;
  border-radius: 10rem;
  border: none;
  appearance: none;
  outline: none;
  transition: border 0.3s;
  width: 250px;
  padding: 1.25rem; }

.search__submit--hidden {
  visibility: hidden;
  height: 0;
  width: 0; }

.items-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .items-container__item {
    position: relative; }
    .items-container__item .item-box {
      padding: 1rem 4rem;
      margin: 0.5rem 1rem;
      border-radius: 1rem;
      cursor: pointer; }
      .items-container__item .item-box svg {
        fill: #65676b; }
    .items-container__item::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 0%;
      height: 5px;
      background: red;
      transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1); }
    .items-container__item.active svg {
      fill: #1877f2; }
    .items-container__item.active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      height: 3px;
      background: #1877f2;
      transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1); }
    .items-container__item:hover .item-box {
      background-color: #f0f2f5; }
  .items-container__tooltips {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1; }

.header {
  position: fixed;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  background-color: #FFFFFF;
  width: 100%;
  z-index: 1; }
  .header__left {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 2rem; }
  .header__center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .header__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem; }
    .header__right div {
      margin-left: 0.5rem;
      margin-right: 0.5rem; }
    .header__right .avatar-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      cursor: pointer; }
      .header__right .avatar-wrapper__avatar {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        margin-left: .25rem; }
      .header__right .avatar-wrapper__name {
        font-weight: 600;
        font-size: 14px;
        padding: 1rem; }
      .header__right .avatar-wrapper:hover {
        background-color: #f0f2f5; }
    .header__right .etc-wrapper {
      padding: 1rem;
      background-color: #f0f2f5;
      border-radius: 20px;
      cursor: pointer;
      transition: all .25s; }
      .header__right .etc-wrapper svg {
        width: 20px;
        height: 20px; }
      .header__right .etc-wrapper:hover {
        background-color: #cecfd1; }

.content {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 25% 50% 25%; }
  .content__left {
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll; }
    .content__left .item-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      border-bottom: 1px solid #bbb;
      margin: 1.25rem 0 0 1rem; }
      .content__left .item-container__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 5px 0px 0px 5px;
        width: 99%;
        transition: all 0.4s; }
        .content__left .item-container__item-wrapper__avatar {
          width: 30px;
          height: 30px;
          border-radius: 20px;
          margin-left: .25rem; }
        .content__left .item-container__item-wrapper__name {
          font-weight: 600;
          font-size: 14px;
          padding: 1rem; }
        .content__left .item-container__item-wrapper:hover {
          background-color: #cecfd1; }
    .content__left .shortcut-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 1.25rem 0 0 1rem; }
      .content__left .shortcut-container__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%; }
        .content__left .shortcut-container__header--text-wrapper {
          font-size: 17px;
          font-weight: 600;
          color: #65676b; }
        .content__left .shortcut-container__header--edit-wrapper {
          font-size: 15px;
          font-weight: 400;
          color: #1876f2;
          cursor: pointer;
          border-radius: 5px;
          padding: 1rem;
          opacity: 0; }
          .content__left .shortcut-container__header--edit-wrapper:hover {
            opacity: 1;
            background-color: #cecfd1; }
      .content__left .shortcut-container__item-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-radius: 20px;
        cursor: pointer;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 5px 0px 0px 5px;
        width: 99%;
        transition: all 0.4s; }
        .content__left .shortcut-container__item-wrapper__avatar {
          width: 30px;
          height: 30px;
          border-radius: 20px;
          margin-left: .25rem; }
        .content__left .shortcut-container__item-wrapper__name {
          font-weight: 600;
          font-size: 14px;
          padding: 1rem; }
        .content__left .shortcut-container__item-wrapper:hover {
          background-color: #cecfd1; }
