.content {
    padding-top:60px;
    display:grid;
    grid-template-columns: 25% 50% 25%;

    &__left {
        height: 100vh;
        overflow: hidden;
        overflow-y: scroll;

        .item-container {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            border-bottom: 1px solid #bbb;
            margin: 1.25rem 0 0 1rem;
            
            &__item-wrapper {
                display:flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                border-radius: 5px 0px 0px 5px;
                width:99%;
                transition:all 0.4s;

                &__avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 20px;
                    margin-left: .25rem;
                }
    
                &__name {
                    font-weight: 600;
                    font-size: 14px;
                    padding: 1rem;
                }
    
                &:hover {
                    background-color: $white-grey-2;
                }
            }
        }

        .shortcut-container {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: 1.25rem 0 0 1rem;

            &__header {
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                &--text-wrapper {
                    font-size:17px;
                    font-weight:600;
                    color: $secondary-text;
                }

                &--edit-wrapper {
                    font-size:15px;
                    font-weight:400;
                    color: $accent;
                    cursor: pointer;
                    border-radius:5px;
                    padding:1rem;
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                        background-color:$white-grey-2;
                    }
                }
            }

            &__item-wrapper {
                display:flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                border-radius: 20px;
                cursor: pointer;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                border-radius: 5px 0px 0px 5px;
                width:99%;
                transition:all 0.4s;

                &__avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 20px;
                    margin-left: .25rem;
                }
    
                &__name {
                    font-weight: 600;
                    font-size: 14px;
                    padding: 1rem;
                }
    
                &:hover {
                    background-color: $white-grey-2;
                }
                // .etc-wrapper {
                //     display:flex;
                //     flex-direction: row;
                //     justify-content: center;
                //     align-items: center;
                //     padding: .25rem 0 1rem;
                // }
            }
        }

    }

    &__center {}
    
    &__right {}
}
